@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 15px;
  }

  body {
    font-family: var(--font-sans, ui-sans-serif, system-ui, sans-serif);
  }

  .font-mono,
  code,
  kbd,
  samp,
  pre {
    font-family: var(--font-mono, ui-monospace, monospace);
  }
}
